### 문자열 자료형

In [1]:
#for, while의 경우 탈출 방법 break
#중첩반복문에서의 탈출은 break가 필요하나 전체를 탈출이 가능한 것이 아님.

number = i * j

for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j={j})")
        if i == 2 and j == 3:
         break
    if i == 2 and j == 3:
         break

print(number)

NameError: name 'i' is not defined

## 문자열 인덱싱

In [ ]:
my_str = "Hello, Python"
#양수 인덱싱의 경우 맨앞 0부터 시작함.
#음수 인덱싱의 경우 맨뒤 0부터 시작함.

In [ ]:
#n 가져오기
my_str[-1] #음수 인덱싱

'n'

In [ ]:
my_str[7:11] # 슬라이싱 접근법
# [7,8,9,10] 단순 기입의 경우 오류 발생
# 끝번호까지 출력하고 싶은 경우 +1 헤야함

'Pyth'

In [ ]:
#슬라이싱 앞뒤 번호를 생략하면 제외된 라인 외 전체를 출력함 
my_str[7:]

'Python'

In [23]:
#슬라이싱[start:end:step(음수도 가능)]
my_str[::-2]

'nhy olH'

In [ ]:
type(my_str) # 타입을 알려줌 # 문자열

str

In [ ]:
len(my_str) # 길이를 알려줌 len

13

In [ ]:
for i in my_str:
    print(i) # print("Hello")
    #문자열 데이터도 이터러블로 동작함.

H
e
l
l
o
,

P
y
t
h
o
n

In [ ]:
for i in range(len(my_str)):
    print(my_str[i])
#같은 결과를 반복문으로도 만들 수 있음.

H
e
l
l
o
,

P
y
t
h
o
n

In [ ]:
# 문자열, 데이터의 여러가지 기능들
 
my_str.lower() 
# 전체 문자열을 소문자로 바꾸는 메소드

'hello, python'

In [ ]:
my_str.upper()
# 전체 문자열을 대문자로 바꾸는 메소드

'HELLO, PYTHON'

In [ ]:
words = my_str.split(",")
print(words)
# 문자열을 쪼개는 메소드

['Hello', ' Python']

### 자료형

In [ ]:
# 자료형: 프로그래밍을 할 때 쓰이는 숫자, 문자열 등 자료 형태로 사용하는 모든 것
# 매번 요소에 따라 선언해야 하는 번거로움이 있음을 해결하기 위해서
# 컬렉션 자료형 : 여러 개의 요소를 하나로 묶어 사용하는 자료형

# 리스트 (list)
# 딕셔너리 (dictionary)

### 컬렉션 자료형

리스트 : 리스트 : 복수의 데이터 형태를 순서대로 저장하고 조작하는 기본 자료형

In [40]:
numbers = [1,2,3,4,5]

In [41]:
fruits = ["apple", "banana", "mango"]

In [44]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]

In [48]:
numbers1 + numbers2
#연결연산자가 됨

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers1 * 3
# 반복연산자로도 동작함.

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [42]:
mixed = [1, "apple", True, [10, 20, 30 ]]

In [37]:
type(numbers)

list

In [ ]:
fruits[-1] 
# 인덱싱 접근으로 데이터를 가져오는 것도 가능

'mango'

In [54]:
fruits[:3]

['apple', 'banana', 'mango']

In [ ]:
fruits[0] = "grape" 
# 새로운 데이터 수정

In [ ]:
fruits
#새로운 값 변경
#하지만 없는 인덱스 번호로는 적용 불가

['grape', 'banana', 'mango']

In [ ]:
fruits.append("cherry")
# append는 맨뒤에 추가

In [58]:
fruits

['grape', 'banana', 'mango', 'cherry']

In [ ]:
fruits.insert(2, "kiwi")
# 특정 위치 삽입 추가

In [62]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry']

In [ ]:
fruits.extend(["orange", "date"])
# extend 리스트에 여러 개의 항목을 한 번에 추가할 때 사용하는 메서드

In [64]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [ ]:
fruits.pop()
# 맨뒤 값 제거 
# 2번 실행함

'orange'

In [ ]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry']

In [ ]:
fruits.remove("cherry")
# 특정 값 지정 제거

In [75]:
fruits.remove("kiwi")

In [69]:
fruits

['grape', 'banana', 'kiwi', 'mango']

In [ ]:
fruits.index("grape")
#인덱스 위치 확인하기

0

In [ ]:
fruits.count("grape")
#몇 번 등장하는지 세는 메서드

1

In [ ]:
len(fruits)
# ()안에 있는 항목의 개수

4

In [79]:
fruits.append("apple")

In [74]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'apple']

In [80]:
fruits.sort()
# 리스트 안의 항목들을 오름차순으로 정렬

In [81]:
fruits

['apple', 'apple', 'banana', 'grape', 'mango']

In [ ]:
fruits.sort(reverse = True)
#내림차순

In [83]:
fruits

['mango', 'grape', 'banana', 'apple', 'apple']

In [85]:
fruits.reverse()

In [86]:
fruits

['apple', 'apple', 'banana', 'grape', 'mango']

In [87]:
fruits = ["apple", "banana", "mango", "cherry"]

In [89]:
for i in fruits:
    print(i)

apple
banana
mango
cherry

In [91]:
for i in range(len(fruits)):
    print(f"{i}번째 과일{fruits[i]}")

0번째 과일apple
1번째 과일banana
2번째 과일mango
3번째 과일cherry

In [92]:
numbers = [10,20,30,40,50]

In [93]:
len(numbers)

5

In [ ]:
max(numbers)
# 내장함수 동작이 훨씬 빠름
# 큰 값을 찾아주는 기능

50

In [ ]:
min(numbers)
# 내장함수 동작이 훨씬 빠름
# 작은 값을 찾아주는 기능

10

In [ ]:
#평균값
#avg는 지원 안 함
sum(numbers)/len(numbers)

30.0

In [99]:
# 반복문을 이용해서 리스트를 간단하게 생성 -> 리스트컴프리헨션
numbers = [i for i in range(10)]

In [105]:
num_list= []
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [i*2 for i in range(1, 10+1)]
numbers
# (2의 복수)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [i for i in range(1, 10+1) if i % 2 == 0]
numbers
# (2의 복수)
# 특정 조건 만족 리스트

[2, 4, 6, 8, 10]

In [ ]:
num_list= []
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

In [118]:
marks = [90, 25, 67, 45, 80]
num = 0

for i in marks:
    num += 1
    if i >= 60:
        print(f"{num}번 학생 합격")
    else:
        print(f"{num}번 학생 불합격")

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [ ]:
marks = [90, 25, 67, 45, 80]

for i in range(len(marks)): # i는 5번 반복


    if marks[i] >= 60: # i번째 학생의 점수가 60점 이상이면

        print(f"{i+1}번 학생 합격")
    else:
        print(f"{i+1}번 학생 불합격")

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [132]:
#끝말 잇기 게임
var="가나다"

print(var)
while True:
    answer = input("끝말잇기 단어를 입력: ")
    print(answer)
    #비교하는 루틴
    if answer[0] == var[-1]:
        var = answer
    else:
        print("패배하셨습니다.")
        break

가나다
다람쥐
이름
패배하셨습니다.

In [ ]:
# numbers = [1,1,3,3,0,1,1] -> [1,3,0,1]
# numbers = [4,4,4,3,3] -> [4,3]

In [ ]:
numbers = [1,1,3,3,0,1,1]

answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers:
    if comp != i: #이전 숫자와 같은지 비교
        comp = i # 다르면 비교할 숫자 갱신
        answer.append(comp) # 새로운 숫자이므로 리스트에 삽입

answer

[1, 3, 0, 1]

In [142]:
numbers = [4,4,4,3,3]

answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers:
    if comp != i: #이전 숫자와 같은지 비교
        comp = i # 다르면 비교할 숫자 갱신
        answer.append(comp) # 새로운 숫자이므로 리스트에 삽입

answer

[4, 3]

딕셔너리(dictionary)
순서가 없는 컬렉션 자료형으로 각각의 요소는 {키 : 값} 형태로 저장됨.
(키는 중복할 수 없지만, 값은 중복이 가능함.)

### 딕셔너리

In [144]:
student = {'name': 'jimin', 'age': 29, 'hobby': 'game'}

In [ ]:
type(student)

dict

In [146]:
mydict = {}
mydict = dict()

In [149]:
student = {'name': 'jimin', 'age': 29, 'hobby': 'game', 'name':'망개'}

In [155]:
student = {'name': 'jimin', 'age': 29, 'hobby': 'game', 'nickname':'망개'}

In [156]:
student
# 에러는 발생하지 않으나 키가 중복될 경우 마지막에 선언된 값으로 덮어씌어짐.

{'name': 'jimin', 'age': 29, 'hobby': 'game', 'nickname': '망개'}

In [157]:
student['age']

29

In [158]:
student.keys()

dict_keys(['name', 'age', 'hobby', 'nickname'])

In [159]:
student.values()

dict_values(['jimin', 29, 'game', '망개'])

In [160]:
student.items()

dict_items([('name', 'jimin'), ('age', 29), ('hobby', 'game'), ('nickname', '망개')])

In [161]:
for i in student.keys():
    print(i)

name
age
hobby
nickname

In [162]:
for i in student.values():
    print(i)

jimin
29
game
망개

In [163]:
for i in student.items():
    print(i)

('name', 'jimin')
('age', 29)
('hobby', 'game')
('nickname', '망개')

In [ ]:
student['nickname'] = '망개떡'

In [166]:
student['addr'] = '서울시 용산구'

In [167]:
student

{'name': 'jimin',
 'age': 29,
 'hobby': 'game',
 'nickname': '망개떡',
 'addr': '서울시 용산구'}

In [169]:
print(student.get('addr2', "값이 없음"))

값이 없음

In [170]:
student.pop('age')
#리스트는 순서가 있는 데이터이나, 딕셔너리는 순서가 없는 데이터

29

In [175]:
student

{'name': 'jimin', 'hobby': 'game', 'nickname': '망개떡', 'addr': '서울시 용산구'}

In [178]:
'name' in student.keys()

True

In [181]:
for i, j in student.items():
    print(i, j)

name jimin
hobby game
nickname 망개떡
addr 서울시 용산구

In [ ]:
모스부호  

 

문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 

 

모스부호는 다음과 같습니다. 

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

 

입출력 예 

letter  result 

".... . .-.. .-.. ---"  "hello" 

".--. -.-- - .... --- -."   "python"

In [188]:
#모스부호로 hello python

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

letter = ".... . .-.. .-.. ---"

#코드구현 morse.keys() morse.values() morse.items()

a = letter.split()

answer =''
for i in a:
    answer += morse[i]

print(answer)

hello

In [ ]:
#모스부호로 hello python

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

letter = ".... . .-.. .-.. ---"

#코드구현 morse.keys() morse.values() morse.items()

a = letter.split()

answer =''
for i in a:
    answer += morse[i]

print(answer)

### 튜플 자료형
세트(set) {} 중괄호 사용
하나의 변수 이름 선언 i={'01', '123', '567'}

### set 자료형 
중복을 허용하지 않고, 순서가 없는 데이터 =  집합에 가까움.
s = {1, 2, 3, 4, 2, 3}

In [ ]:
s = {1, 2, 3, 4, 2, 3}

In [190]:
type(s)

set

In [ ]:
s
# 알아서 중복값을 제거해줌(강력)
# 집합 개념을 제공해줌
# 인덱싱으로 접근할 수 없음(교집합, 차집함에 주로 사용)

{1, 2, 3, 4}

In [193]:
s.add(5)

In [ ]:
s
# s.pop()을 그대로 사용하면 임으로 삭제됨
# 그렇기 때문에 remove를 사용하여 특정 데이터 삭제를 함

{1, 2, 3, 4, 5}

In [195]:
my_list = [1,2,3,5,1,2,3,]

In [196]:
list(set(my_list))

[1, 2, 3, 5]

In [197]:
a = {1,2,3,4}
b = {3,4,5,6}

In [ ]:
a | b # or연산자 (쉬프트 \) 합집합

{1, 2, 3, 4, 5, 6}

In [ ]:
a.union(b) #합집합

{1, 2, 3, 4, 5, 6}

In [200]:
a & b # and연산자 (쉬프트 7) 교집합

{3, 4}

In [201]:
a.intersection(b) #교집합

{3, 4}

In [202]:
a - b #차집합

{1, 2}

In [203]:
a.difference(b) #차집합

{1, 2}

### 튜플
리스트의 성질을 다 갖고 있은나 초기화 후 편집이 불가함.
전체 삭제는 가능하나 일부 삭제는 불가능함.

In [213]:
t1 = ()

In [214]:
t2 = (1,2,3)

In [215]:
type(t2)

tuple

In [216]:
t2[0]

1

In [217]:
t2[0] = 10
#튜플은 초기화 후 편집이 불가함.

TypeError: 'tuple' object does not support item assignment

In [ ]:
t3 =('a', 4, ('ab', 'g'))

In [ ]:
rawdata = ()

In [ ]:
t4 = 1,2,3,4

In [ ]:
type(t4)

tuple

빼빼로데이 
빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

입력1
["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

출력1
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [222]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]
# 빼빼로 변수 지정
result = sorted(set(pepero))
# 결과 변수 = 오름차순(중복값 불가(빼빼로 변수))
print(result)
# 출력 (결과 변수)

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [ ]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

answer = list(set(pepero))
answer.sort()
print(answer)

#다른 풀이

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

영단어갯수세기

내가 외운 단어의 개수는 몇개일까요?

입력1
"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

출력1
7

In [228]:
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

unique_words = set(words.split())

result = len(unique_words)

print(result)

# 7

7

In [231]:
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

len(set(words.split())) #내부적으로 list로 바뀌는 것을 확인


# 7

7