In [ ]:
# 함수와 변수의 효력 범위
a = 1
def vartest(a): # 매개변수 a는 지역변수
    a = a + 1

vartest(a) # 아무것도 리턴하지 않음 #none
print(a)

1

In [7]:
b = 1
def vartest(a): # 매개변수 a는 지역변수
    a = a + 1

print(vartest(b)) # 아무것도 리턴하지 않음 #none
print(a)

None
1

In [8]:
# 2를 출력하고 싶은 경우
a = 1
def vartest(a):
    return a + 1

a = vartest(a)
print(a)

2

In [ ]:
# 함수와 변수의 효력 범위
def vartest(a):
    a = a + 1
    # 함수 종료 후 사라짐
vartest(3)
print(a)
#NameError

NameError: name 'a' is not defined

In [ ]:
a = 1
def vartest():
    global a 
    # 전역변수 a를 직접 수정하겠다
    # 유지보수성에 악영향을 줄 수 있음

    a = a + 5
print(a)
vartest()
print(a)

1
6

In [ ]:
# 만약 매개변수로 받는 변수의 이름과 글로벌 메모리에있는 변수 이름이 겹치면 어떯게 되나요? 
# 함수 자체가 알아서 글로벌 태그로 구별해주나요? (이승엽 수강생 질문)
## SyntaxError 발생
a = 1
def vartest(a):
    global a 
    # 전역변수 a를 직접 수정하겠다
    # 유지보수성에 악영향을 줄 수 있음

    a = a + 5
print(a)
vartest(3)
print(a)

SyntaxError: name 'a' is parameter and global (3706790022.py, line 6)

In [8]:
def say_myself(name, age, man):
    print(f'{name}, {age}')

In [ ]:
say_myself("jimin", 29)
# typeError: say_myself() missing 1 required positional argument: 'man'

TypeError: say_myself() missing 1 required positional argument: 'man'

In [16]:
def say_myself(name, age, man=True, hobby='python'):
    print(f'{name}, {age}')
    print(man)
    print(hobby)

In [ ]:
say_myself('jimin', 29, False, 'game')

jimin, 29
False
game

In [20]:
print("Hello", "python", "World", sep=':::::')

Hello:::::python:::::World

In [ ]:
# 내장 함수를 활용한 예제
zip 함수
- zip(*iterable) # 여러 개의 순회 가능한(iterable) 객체를 인자로 받아, 각 객체에서 동일한 인덱스에 위치한 요소들을 튜플로 묶어주는 함수입니다.
- 각 iterable의 동일 인덱스의 item들을 묶어서 튜플 쌍으로 반환
- 반환되는 객체는 zip 타입이며, iterable의 길이는 달라도 무방

In [23]:
r = (52, 255, 39, 132)
g = (19, 0, 277, 132)
b = (52, 255, 39, 187)

img = zip(r, g, b)
# img = list(zip(r, g, b))
print(img)

<zip object at 0x000001E988677E80>

In [24]:
r = (52, 255, 39, 132)
g = (19, 0, 277, 132)
b = (52, 255, 39, 187)

zip_abject = zip(r, g, b)
print(zip_abject)

img = list(zip_abject)
print(img)

print(img[0])
print(type(img[0]))

<zip object at 0x000001E9886BC6C0>
[(52, 19, 52), (255, 0, 255), (39, 277, 39), (132, 132, 187)]
(52, 19, 52)
<class 'tuple'>

In [ ]:
#내장 함수를 활용한 예제
enumerate 함수
- enumerate(iterable, [, start=0]) # 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 반환합니다.

In [33]:
f = ('apple', 'banana', 'cherry', 'date')

In [37]:
enumerate(f, 1)
# 생성 위치(주소)가 달라짐

In [20]:
dict(enumerate(f, 1))

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date'}

In [ ]:
map 함수 #맵핑
- map(function, iterable)
- function에 iterable의 item들을 인자

In [38]:
mylist = [1, 2, 3, 4, 5]
# -> [2, 3, 4, 5, 6]

In [39]:
result = []
for i in mylist:
    result.append(i + 1)

print(result)

[2, 3, 4, 5, 6]

In [8]:
mylist = [1, 2, 3, 4, 5]

def add_one(n):
    return n + 1

result = map(add_one, mylist)
result

In [7]:
result = []

def add_one(n):
    return n + 1

result = list(map(add_one, mylist))
result

[2, 3, 4, 5, 6]

In [11]:
mylist = [3.14, -5.6, 100.4, 25.0]

result = list(map(round, mylist))
result

[3, -6, 100, 25]

In [10]:
round(100.4)

100

In [ ]:
내장 함수를 활용한 예제 - filter 사용하기
- 반복 가능한 객체에서 특정 조건을 만족하는 요소들만 걸러내는 함수입니다.
- filter 에 지정한 함수의 반환값이 True인 요소들만 걸러냅니다.
- filter(함수, 반복 가능한 객체)

def f(x):
    return x > 5 and x < 10

a = [3, 4, 5, 6, 7, 8, 9, 10]
list(filter(f, a))

In [16]:
a = [8, 3, 2, 10, 15, 7, 0, 11]

In [19]:
list(filter(lambda x: x>5 and x<10, a))

[8, 7]

In [17]:
def f(x):
    return x > 5 and x < 10

In [18]:
list(filter(f, a))

[8, 7]

In [14]:
result = []
for i in a:
    if i > 5 and i < 10:
        result.append(i)

result

[8, 7]

In [ ]:
람다함수(익명함수)
- 이름이 없는 함수
- 람다함수의 장점 -> 코드의 간결함 메모리의 절약

def 함수이름(매개변수):     lambda 매개변수: 결과
    return 결과

>>> lambda x : x + 1 로 표현 가능

In [20]:
# 람다함수 사용 예
# map: 시퀀스의 각 요소에 함수를 적용하여 새로운 시귄스를 반환.

numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

In [21]:
# 람다함수 사용 예
# filter: 시퀀스의 각 요소에 함수를 적용하여 조건을 만족하는 요소들만 반환.

numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

In [22]:
# 람다함수 사용 예
# sorted 함수의 키로 사용하여 특정 조건에 따라 데이터를 정렬

points = [(1, 2), (3, 4), (5, 1)]
sorted_points = sorted(points, key=lambda point: point[1])
print(sorted_points)

# 두 번째 값을 기준으로 정렬

[(5, 1), (1, 2), (3, 4)]

In [36]:
points = [(1, 2), (3, 4), (5, 1), (4, 1)]
sorted_points = sorted(points, key=lambda x: (x[1], x[0]))
print(sorted_points)
# y축 오름차순

[(4, 1), (5, 1), (1, 2), (3, 4)]

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [24]:
my_nembers = sorted(numbers, reverse=True)

In [25]:
numbers

[1, 2, 3, 4, 5]

In [26]:
my_nembers

[5, 4, 3, 2, 1]

In [28]:
fruits = ['apple','banana', 'cherry', 'date']
fruits

['apple', 'banana', 'cherry', 'date']

In [30]:
myfruits = sorted(fruits, key=len, reverse=True)
myfruits

['banana', 'cherry', 'apple', 'date']

In [68]:
# 등수구하기 

# 영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다. 영어 
# 점수와 수학 점수를 담은 2차원 리스트 score가 주어질 때, 영어 점수와 수학 점수의 평균을 
# 기준으로 매긴 등수를 담은 리스트를 return하도록 함수를 만들어주세요 

 

[[80, 70], [90, 50], [40, 70], [50, 80]] # [1, 2, 4, 3] 

[[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]] # [4, 4, 6, 2, 2, 1, 7] 

def rank(score): 
    result = []
    # YOUR_CODE_HERE
    # 1. 평균값을 가지는 리스트
    avg = []
    for i, j in score:
        # print((i+j)/2)
        avg.append((i+j)/2)
    # print(avg)
    #[75.0, 70.0, 55.0, 65.0]
    
    # 2. 평균값을 내림차순으로 정렬
    avg_sort = sorted(avg, reverse=True)
    # print(avg_sort)
    #[75.0, 70.0, 65.0, 55.0]

    # 3. 비교해서 등수 처리
    for i in avg:
        result.append(avg_sort.index(i) + 1)
        #print(result)
        #[1, 2, 4, 3]
    return result

In [65]:
score1 = [[80, 70], [90, 50], [40, 70], [50, 80]]
rank(score1) # [1, 2, 4, 3]

[1, 2, 4, 3]

In [69]:
score2 = [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]] # [4, 4, 6, 2, 2, 1, 7]
rank(score2) # [4, 4, 6, 2, 2, 1, 7]

[4, 4, 6, 2, 2, 1, 7]

In [ ]:
#소수 판별 함수 is_prime()
[2,3,4,5,6,7,8,9] # [True, True, False, True, False, True, False, False]

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, )