### 문자열 자료형

In [1]:
#for, while의 경우 탈출 방법 break
#중첩반복문에서의 탈출은 break가 필요하나 전체를 탈출이 가능한 것이 아님.

number = i * j

for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j={j})")
        if i == 2 and j == 3:
         break
    if i == 2 and j == 3:
         break

print(number)

NameError: name 'i' is not defined

## 문자열 인덱싱

In [ ]:
my_str = "Hello, Python"
#양수 인덱싱의 경우 맨앞 0부터 시작함.
#음수 인덱싱의 경우 맨뒤 0부터 시작함.

In [ ]:
#n 가져오기
my_str[-1] #음수 인덱싱

'n'

In [ ]:
my_str[7:11] # 슬라이싱 접근법
# [7,8,9,10] 단순 기입의 경우 오류 발생
# 끝번호까지 출력하고 싶은 경우 +1 헤야함

'Pyth'

In [ ]:
#슬라이싱 앞뒤 번호를 생략하면 제외된 라인 외 전체를 출력함 
my_str[7:]

'Python'

In [23]:
#슬라이싱[start:end:step(음수도 가능)]
my_str[::-2]

'nhy olH'

In [ ]:
type(my_str) # 타입을 알려줌 # 문자열

str

In [ ]:
len(my_str) # 길이를 알려줌 len

13

In [ ]:
for i in my_str:
    print(i) # print("Hello")
    #문자열 데이터도 이터러블로 동작함.

H
e
l
l
o
,

P
y
t
h
o
n

In [ ]:
for i in range(len(my_str)):
    print(my_str[i])
#같은 결과를 반복문으로도 만들 수 있음.

H
e
l
l
o
,

P
y
t
h
o
n

In [ ]:
# 문자열, 데이터의 여러가지 기능들
 
my_str.lower() 
# 전체 문자열을 소문자로 바꾸는 메소드

'hello, python'

In [ ]:
my_str.upper()
# 전체 문자열을 대문자로 바꾸는 메소드

'HELLO, PYTHON'

In [ ]:
words = my_str.split(",")
print(words)
# 문자열을 쪼개는 메소드

['Hello', ' Python']

### 자료형

In [ ]:
# 자료형: 프로그래밍을 할 때 쓰이는 숫자, 문자열 등 자료 형태로 사용하는 모든 것
# 매번 요소에 따라 선언해야 하는 번거로움이 있음을 해결하기 위해서
# 컬렉션 자료형 : 여러 개의 요소를 하나로 묶어 사용하는 자료형

# 리스트 (list)
# 딕셔너리 (dictionery)

### 컬렉션 자료형

리스트 : 리스트 : 복수의 데이터 형태를 순서대로 저장하고 조작하는 기본 자료형

In [40]:
numbers = [1,2,3,4,5]

In [41]:
fruits = ["apple", "banana", "mango"]

In [44]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]

In [48]:
numbers1 + numbers2
#연결연산자가 됨

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers1 * 3
# 반복연산자로도 동작함.

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [42]:
mixed = [1, "apple", True, [10, 20, 30 ]]

In [37]:
type(numbers)

list

In [ ]:
fruits[-1] 
# 인덱싱 접근으로 데이터를 가져오는 것도 가능

'mango'

In [54]:
fruits[:3]

['apple', 'banana', 'mango']

In [ ]:
fruits[0] = "grape" 
# 새로운 데이터 수정

In [ ]:
fruits
#새로운 값 변경
#하지만 없는 인덱스 번호로는 적용 불가

['grape', 'banana', 'mango']

In [ ]:
fruits.append("cherry")
# append는 맨뒤에 추가

In [58]:
fruits

['grape', 'banana', 'mango', 'cherry']

In [ ]:
fruits.insert(2, "kiwi")
# 특정 위치 삽입 추가

In [62]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry']

In [ ]:
fruits.extend(["orange", "date"])
# extend 리스트에 여러 개의 항목을 한 번에 추가할 때 사용하는 메서드

In [64]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [ ]:
fruits.pop()
# 맨뒤 값 제거 
# 2번 실행함

'orange'

In [ ]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry']

In [ ]:
fruits.remove("cherry")
# 특정 값 지정 제거

In [75]:
fruits.remove("kiwi")

In [69]:
fruits

['grape', 'banana', 'kiwi', 'mango']

In [ ]:
fruits.index("grape")
#인덱스 위치 확인하기

0

In [ ]:
fruits.count("grape")
#몇 번 등장하는지 세는 메서드

1

In [ ]:
len(fruits)
# ()안에 있는 항목의 개수

4

In [79]:
fruits.append("apple")

In [74]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'apple']

In [80]:
fruits.sort()
# 리스트 안의 항목들을 오름차순으로 정렬

In [81]:
fruits

['apple', 'apple', 'banana', 'grape', 'mango']

In [ ]:
fruits.sort(reverse = True)
#내림차순

In [83]:
fruits

['mango', 'grape', 'banana', 'apple', 'apple']

In [85]:
fruits.reverse()

In [86]:
fruits

['apple', 'apple', 'banana', 'grape', 'mango']

In [87]:
fruits = ["apple", "banana", "mango", "cherry"]

In [89]:
for i in fruits:
    print(i)

apple
banana
mango
cherry

In [91]:
for i in range(len(fruits)):
    print(f"{i}번째 과일{fruits[i]}")

0번째 과일apple
1번째 과일banana
2번째 과일mango
3번째 과일cherry

In [92]:
numbers = [10,20,30,40,50]

In [93]:
len(numbers)

5

In [ ]:
max(numbers)
# 내장함수 동작이 훨씬 빠름
# 큰 값을 찾아주는 기능

50

In [ ]:
min(numbers)
# 내장함수 동작이 훨씬 빠름
# 작은 값을 찾아주는 기능

10

In [ ]:
#평균값
#avg는 지원 안 함
sum(numbers)/len(numbers)

30.0

In [99]:
# 반복문을 이용해서 리스트를 간단하게 생성 -> 리스트컴프리헨션
numbers = [i for i in range(10)]

In [105]:
num_list= []
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [i*2 for i in range(1, 10+1)]
numbers
# (2의 복수)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [i for i in range(1, 10+1) if i % 2 == 0]
numbers
# (2의 복수)
# 특정 조건 만족 리스트

[2, 4, 6, 8, 10]

In [ ]:
num_list= []
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

In [118]:
marks = [90, 25, 67, 45, 80]
num = 0

for i in marks:
    num += 1
    if i >= 60:
        print(f"{num}번 학생 합격")
    else:
        print(f"{num}번 학생 불합격")

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [ ]:
marks = [90, 25, 67, 45, 80]

for i in range(len(marks)): # i는 5번 반복


    if marks[i] >= 60: # i번째 학생의 점수가 60점 이상이면

        print(f"{i+1}번 학생 합격")
    else:
        print(f"{i+1}번 학생 불합격")

1번 학생 합격
2번 학생 불합격
3번 학생 합격
4번 학생 불합격
5번 학생 합격

In [132]:
#끝말 잇기 게임
var="가나다"

print(var)
while True:
    answer = input("끝말잇기 단어를 입력: ")
    print(answer)
    #비교하는 루틴
    if answer[0] == var[-1]:
        var = answer
    else:
        print("패배하셨습니다.")
        break

가나다
다람쥐
이름
패배하셨습니다.